*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.movie-list{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-around;
}
.movie-container{
  /* background-color: orange; */
  width: 300px;
}

.movie-poster{
  width: 100%;
  object-fit: cover;
}
.movie-specs{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.movie-summary{
  padding: 5px;
}

/* counter */
.counter-container button{
  font-size: 20px;
  margin-right: 5px;
}

