*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding-left: 50px;
}

.movie-container{
  width: 300px;
  border: 2px solid gray;
  border-radius: 5px;
}
.movie-poster{
  width: 100%;
  height: 300px;
}
.movie-name-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.movie-summary{
  padding: 5px;
}

